 .u-section-1 {
  background-image: linear-gradient(#a35559, #333333);
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  margin: 66px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 101px auto 0;
  padding: 31px 54px 32px 53px;
}

.u-section-1 .u-text-2 {
  width: 473px;
  margin: 50px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}