 .u-section-1 {
  background-image: linear-gradient(#2cccc4, #1a1a1a);
}

.u-section-1 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1 .u-text-1 {
  text-decoration: underline !important;
  margin: 69px auto 0 403px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 117px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/teamler-month.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 105px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-left: 332px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 177px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -75px;
    margin-left: 254px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 261px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 200px;
    margin-left: 191px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -14px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 296px;
    margin-left: 120px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -97px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}